@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=League+Spartan:wght@100..900&display=swap');

/* General Styling */

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html{
  scroll-behavior: smooth;
}

body {
  background-color: #16151e;
  color: white;
}

/* Navbar Styling */

header{
  position: fixed;
  width: 100vw;
  z-index: 1;
}

.my-navbar {
  display: flex;
  height: 8vh;
  color: white;
  align-items: center;
  justify-content: space-around;
  background-color: #1c1b23;
}

.left-section h1 {
  font-size: 2.75rem;
  font-weight: 500;
  font-family: "Caveat", cursive;
}

.right-section ul {
  display: flex;
  gap: 50px;
}

.right-section ul li {
  list-style: none;
  font-size: 1.5rem;
  font-weight: 500;
}

.right-section ul li a {
  text-decoration: none;
  color: white;
}

.right-section ul li a:hover {
  text-decoration: underline;
  text-decoration-color: #8f23bd;
  color: #8f23bd;
  text-underline-offset: 12px;
}

/* Home Styling */

#home {
  display: flex;
  height: 92vh;
  align-items: center;
  justify-content: space-evenly;
}

.about-pic img {
  height: 500px;
}

.about-info {
  padding-right: 150px;
}

.title-text {
  font-size: 1.8rem;
}

.title-text-2 {
  font-size: 1.8rem;
  font-weight: 600;
}

.title {
  font-size: 2.75rem;
  font-weight: 600;
}

.highlight {
  color: #5636a6;
}

.about-info span{
  font-family: "Caveat", cursive;
  font-size: 3rem;
}

.about-info h2{
  font-family: "Caveat", cursive;
  font-size: 3rem;
}

/* About Styling */

.secHeadInfo {
  text-align: center;
}

.secHeadInfo h1{
  margin: 15px 0;
}

.secHeadInfo span {
  position: relative;
  font-size: 1.5rem;
  font-weight: 100;
  top: 15px;
}

.container ul li {
  list-style: none;
  margin-bottom: 15px;
  font-size: 1.25rem;
}

.container {
  display: flex;
  height: 50vh;
  align-items: center;
  justify-content: space-around;
}

.sub-box {
  display: flex;
  border: solid white 2px;
  border-radius: 8px;
  height: 40vh;
  width: 37vw;
  align-items: center;
  justify-content: center;
}

.sub-box h1{
  margin-bottom: 25px;
}

.sub-box ul{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-icon{
  height: 30px;
  position: relative;
  top: 8px;
  right: 5px;
}

/* Projects Styling */

.secProjInfo{
  text-align: center;
  height: auto;
}

.secProjInfo h1{
  margin-top: 15px;
}

.secProjInfo p{
  margin : 5px 0 20px 0;
}

.projects-gallery{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 360px;
  border: solid white 2px;
  border-radius: 5px;
  color: white;
  margin-bottom: 50px;
  width: 300px;
}

.card img{
  height: 180px;
  border-radius: 6px;
  border-bottom: solid white 2px;
}

.card-body h5{
  position: relative;
  font-size: 1.2rem;
  padding: 5px 0 5px 0;
  margin: 0 5px 5px 5px;
  bottom: 15px;
}

.card-body p{
  position: relative;
  padding: 0 0 8px 0;
  margin: 0 5px 5px 5px;
  bottom: 15px;
}

.card-body a{
  position: relative;
  left: 5px;
  margin: 0 5px 5px 0;
  border: solid white 2px;
  border-radius: 10px;
  padding: 3px 3px;
  text-decoration: none;
  color:white;
  bottom: 15px;
}

.card-body a::before{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: #5636a6;
  background-color: #5636a6;
  border-radius: 10px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  z-index: -1;
}

.card a:hover::before{
  color: black;
  transform: scaleX(1);
}
/* Contact Styling */

.secContactInfo{
  text-align: center;
}

.form{
  display: flex;
  justify-content: center;
  text-align: center;
  min-width: 100vh;
}

.form form{
  width: 600px;
}

.input-box{
  display: flex;
  justify-content: space-between;
}

.input-field{
  width: 45.5%;
}

.error-text{
  font-size: 14.5px;
  color: #d93025;
  text-align: left;
  margin: -5px 0 10px;
  display: none;
}

.item{
  width: 100%;
  padding: 18px;
  background-color: transparent;
  border: 2px solid white;
  outline: none;
  border-radius: 6px;
  font-size: 16px;
  color: #ededed;
  margin: 12px 0;
}

.item::placeholder{
  color: rgba(255, 255, 255, .3);
}

.textarea-field .item{
  resize: none;
}

form button{
  padding: 12px 32px;
  background-color: #5636a6;
  border: none;
  outline: none;
  border-radius: 6px;
  margin-bottom: 25px;
  font-size: 16px;
  color: #333;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 5px;
  transition: ease-in .2s;
}

form button:hover{
  box-shadow: 0 0 10px white;
}


/* Footer Styling */

.lastSec{
  display: flex;
  height: 8vh;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.footerIcon{
  height: 25px;
  filter: invert(1);
  cursor: pointer;
}

.lastSec .links{
  display: flex;
  gap: 5px;
  cursor: pointer;
}

.links a{
  text-decoration: none;
  color: white;
}
